p{
    font-size:50px;
    font-weight:bold;
    color: green;
}
.card{
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
    margin-bottom:20px;
    width:100%;
    margin-top:30px;
    height: auto;
}

.other-cards{
    width:80%;
    margin-left: 135px;
}

.article_profile{
    border-radius: 50%;
    width:5%

}
.left_button{
    float:right;
}

.what_is_it{
    float:left;
}
.Q_&_A{
    margin-top:100px;
}
.horizontal{
    margin-top:40px;
}
.question_profile{
    width:30px;
    border-radius:40px;
}